@use "top/vars" as *;
@use "top/overlay";

// CRT stripes
body::before {
    @include overlay.setup;
    display: var(--crt-stripe, $stripe);
    height: 100vh;
    background-size: 100% var(--crt-size, $size);
    background-image: linear-gradient(
		rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.2) 15%, 
		rgba(255, 255, 255, 0.02) 50%, 
		rgba(0, 0, 0, 0.2) 85%, 
		rgba(0, 0, 0, 0.8) 100%
    );
    z-index: var(--crt-height, $height);
    animation: var(--crt-flicker, $flicker) var(--crt-flicker-speed, $flicker-speed) infinite alternate;
}

@keyframes flicker {
    0% {
        background-color: rgba(0, 0, 0, 0.027861);
    }
    5% {
        background-color: rgba(0, 0, 0, 0.08234)
    }
    10% {
        background-color: rgba(0, 0, 0, 0.023604)
    }
    15% {
        background-color: rgba(0, 0, 0, 0.010626)
    }
    20% {
        background-color: rgba(0, 0, 0, 0.018128)
    }
    25% {
        background-color: rgba(0, 0, 0, 0.063891)
    }
    30% {
        background-color: rgba(0, 0, 0, 0.045583)
    }
    35% {
        background-color: rgba(0, 0, 0, 0.037807)
    }
    40% {
        background-color: rgba(0, 0, 0, 0.016559)
    }
    45% {
        background-color: rgba(0, 0, 0, 0.034693)
    }
    50% {
        background-color: rgba(0, 0, 0, 0.066019)
    }
    55% {
        background-color: rgba(0, 0, 0, 0.008594)
    }
    60% {
        background-color: rgba(0, 0, 0, 0.00313)
    }
    65% {
        background-color: rgba(0, 0, 0, 0.041988)
    }
    70% {
        background-color: rgba(0, 0, 0, 0.023455)
    }
    75% {
        background-color: rgba(0, 0, 0, 0.027288)
    }
    80% {
        background-color: rgba(0, 0, 0, 0.041428)
    }
    85% {
        background-color: rgba(0, 0, 0, 0.030419)
    }
    90% {
        background-color: rgba(0, 0, 0, 0.04003)
    }
    95% {
        background-color: rgba(0, 0, 0, 0.026108)
    }
    100% {
        background-color: rgba(0, 0, 0, 0.014387)
    }
}

@keyframes scanline {
    0% {
        top: 100%;
    }
}
// CRT scanline
body::after {
    @include overlay.setup;
    display: var(--crt-scanline, $scanline);
    height: var(--crt-size, $size);
    top: 0%;
    background-image: linear-gradient(var(--crt-scanline-color, $scanline-color), transparent);
    z-index: calc(var(--crt-height, $height) - 1);
    animation: scanline var(--crt-scanline-speed, $scanline-speed) linear infinite var(--crt-scanline-direction, $scanline-direction);
}

@keyframes scanline {
    0% {
        top: 100%;
    }
}
