@import url("https://nerdwave-nick.github.io/CRT-Discord-Theme/crt.min.css");
:root {
    --crt-height:               1002;
    --crt-size:                 3px;

    --crt-stripe:               block;

    /* ⛐ This effect is performance-intensive. */
    --crt-scanline:             block;
    --crt-scanline-speed:       3s;
    --crt-scanline-color:       rgba(0, 0, 0, 0.25);
    --crt-scanline-direction:   normal;

    /* ⚠ This is a fast flickering effect and may not be suitable for those with photosensitive epilepsy. */
    --crt-flicker:              flicker;
    --crt-flicker-speed:        0.1s;
}
